body {
  background: var(--color-background);
  color: var(--color-text);
  padding-top: var(--header-height);
}

#app {
  min-height: 100vh;
}

::selection {
  background: var(--color-black);
  color: var(--color-white);
}
html {
  scroll-padding-top: var(--header-height);
}
