html {
  font-family: var(--font-body);
  color: var(--color-text);
  background: var(--color-background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
